mixin about-intro()
  section.about-intro
    .container
      h2.about-intro__title(data-aos="fade-right") Stop the
        span(data-aos="fade-right" data-aos-delay="500") Guessing game
      p.about-intro__text(data-aos="fade-right" data-aos-delay="600") People in Africa need access to affordable, accessible and safe medicines
      p.about-intro__text.about-intro__text--small(data-aos="fade-right" data-aos-delay="700" data-aos-anchor=".about-intro") Backed by unique technologies, industry experience, and science, our team helps healthcare companies gain access to high-quality medicines, helps patients make the right choices, and creates a safer world.
      .about-intro__images
        .about-intro__pattern.about-intro__pattern--1
        .about-intro__pattern.about-intro__pattern--2
        .about-intro__img(data-aos="about-intro" data-aos-duration="1000")
          +picture('content', 'about-intro', 'jpg', 1321, 1323, '')
