mixin contact-intro()
  section.contact-intro
    .container
      .contact-intro__inner
        .contact-intro__text-wrapper
          h2.contact-intro__header(data-aos="fade-right") CONTACT&nbsp;US
          p.contact-intro__text(data-aos="fade-right" data-aos-delay="500") We&rsquo;re here to&nbsp;raise awareness and start the conversation about counterfeit medicines and their dangers. Get in&nbsp;touch to&nbsp;learn more about our solutions and how we&nbsp;can partner to&nbsp;meet the challenges of&nbsp;the 21st century.
        .contact-intro__image.contact-intro__image--red
        .contact-intro__image.contact-intro__image--blue
        .contact-intro__image.contact-intro__image--picture(data-aos="contact-intro" data-aos-duration="1000")
          +picture('content', 'contact-intro', 'jpg', 10121, 617, 'фото контента')
