mixin leadership()
  -
    const leadership = [
      {
        image: 'about-leadership-1',
        name: 'Adebayo Alonge',
        position: 'Founder/CEO',
        story: 'Adebayo is&nbsp;a&nbsp;pharmacist and market development professional with a&nbsp;business degree from Yale.<span class="leadership__dots">..</span><span class="leadership__more"> He has 10+&nbsp;years in&nbsp;market development and strategy consulting across Africa, working with BCG, BASF, Roche, and Sanofi. Adebayo speaks annually on Social Impact and Tech, including recent speeches at&nbsp;the Japan-Africa Business Forum, Hello Tomorrow, Lagos Business School, MoHo, etc.</span>',
        socials: [
          {
            href: 'https://www.linkedin.com/in/adebayo-a-309b1814/',
            name: 'icon-about-socials-1',
            label: 'LinkedIn',
          },
          {
            href: 'https://twitter.com/RxAll_Inc',
            name: 'icon-about-socials-2',
            label: 'Twitter',
          },
          {
            href: '#',
            name: 'icon-about-socials-3',
            label: 'link',
          },
        ]
      },
      {
        image: 'about-leadership-2',
        name: 'Amy Kao',
        position: 'Co-Founder/CMO',
        story: 'Amy is&nbsp;a&nbsp;graduate of&nbsp;the Yale School of Management MBA program and holds a&nbsp;Bachelor of&nbsp;Science<span class="leadership__dots">...</span><span class="leadership__more"> degree from Carnegie Mellon University. She has 5+&nbsp;years of&nbsp;management consulting experience with global pharmaceutical companies in&nbsp;New York and Asia and has a&nbsp;strong focus on&nbsp;go-to-market strategy in&nbsp;emerging markets. Amy is a TEDx speaker and guest speaker at&nbsp;other events.</span>',
        socials: [
          {
            href: 'https://www.linkedin.com/in/amykao02/',
            name: 'icon-about-socials-1',
            label: 'LinkedIn',
          },
          {
            href: 'https://twitter.com/RxAll_Inc',
            name: 'icon-about-socials-2',
            label: 'Twitter',
          },
          {
            href: '#',
            name: 'icon-about-socials-3',
            label: 'link',
          },
        ]
      },
      {
        image: 'about-leadership-3',
        name: 'Duncan Turner',
        position: 'Advisor',
        story: 'Duncan is&nbsp;General Partner at&nbsp;SOSV and Managing Director of&nbsp;HAX Shenzhen, the world&rsquo;s first<span class="leadership__dots">...</span><span class="leadership__more"> and largest VC-backed program for Hard Tech. He&nbsp;has marketed numerous hardware products, from first concepts to&nbsp;final sales. Duncan is&nbsp;an&nbsp;entrepreneur with an&nbsp;extensive background in&nbsp;businesses development and a&nbsp;Master&rsquo;s degree from the Royal College of&nbsp;Art &amp;&nbsp;Imperial College.</span>',
        socials: [
          {
            href: 'https://www.linkedin.com/in/duncan-turner-b08630/',
            name: 'icon-about-socials-1',
            label: 'LinkedIn',
          },
          {
            href: 'https://twitter.com/DuncanAJTurner',
            name: 'icon-about-socials-2',
            label: 'Twitter',
          },
          {
            href: '#',
            name: 'icon-about-socials-3',
            label: 'link',
          },
        ]
      },
      {
        image: 'about-leadership-4',
        name: 'Zachariah George',
        position: 'Advisor',
        story: 'Zachariah is&nbsp;the Managing Partner at&nbsp;Launch Africa Ventures, the leading Early-Stage VC&nbsp;Fund, and<span class="leadership__dots">...</span><span class="leadership__more"> the co-founder and CIO of&nbsp;startup boot camp AfroTech, the leading venture accelerator program in&nbsp;Africa. He&nbsp;has a&nbsp;Master&rsquo;s degree in&nbsp;Finance &amp;&nbsp;Management from Stanford University and a&nbsp;Bachelor&rsquo;s degree in&nbsp;Mechanical Engineering from the Indian Institute of&nbsp;Technology.</span>',
        socials: [
          {
            href: 'https://www.linkedin.com/in/zachariahgeorge/',
            name: 'icon-about-socials-1',
            label: 'LinkedIn',
          },
          {
            href: 'https://twitter.com/zach_cpt',
            name: 'icon-about-socials-2',
            label: 'Twitter',
          },
          {
            href: '#',
            name: 'icon-about-socials-3',
            label: 'link',
          },
        ]
      },
      {
        image: 'about-leadership-5',
        name: 'Mbwana Alliy',
        position: 'Advisor',
        story: 'Mbwana is&nbsp;the founder and managing partner at Savannah Fund, Africa&rsquo;s leading Venture<span class="leadership__dots">...</span><span class="leadership__more"> Capital fund seed investments in&nbsp;e-commerce, gaming, education technology, and social networking. He is an&nbsp;experienced product manager in&nbsp;consumer web, enterprise Software &amp;&nbsp;SaaS with a&nbsp;Bachelor&rsquo;s Engineering degree from Bristol University and an MBA from Stanford Graduate school of&nbsp;Business.</span>',
        socials: [{
            href: 'https://www.linkedin.com/in/mbwana/',
            name: 'icon-about-socials-1',
            label: 'LinkedIn',
          },
          {
            href: 'https://twitter.com/Mbwana',
            name: 'icon-about-socials-2',
            label: 'Twitter',
          },
          {
            href: '#',
            name: 'icon-about-socials-3',
            label: 'link',
          },
        ]
      },
      {
        image: 'about-leadership-6',
        name: 'Idris Ayodeji',
        position: 'Advisor',
        story: 'Idris is&nbsp;a&nbsp;Founding Partner at&nbsp;Loftyinc Capital Management, owner of&nbsp;the early-stage Afropreneurs Fund<span class="leadership__dots">...</span><span class="leadership__more"> (I&amp;II), and co-founder of&nbsp;The Wennovation Hub, a&nbsp;leading Nigerian innovation accelerator for social impact tech startups. He&nbsp;has an&nbsp;MBA in&nbsp;Entrepreneurship &amp;&nbsp;Strategy from Rice University, and an M.Sc in&nbsp;Global Health Science from Oxford University.</span>',
        socials: [
          {
            href: 'https://www.linkedin.com/in/belloidris/',
            name: 'icon-about-socials-1',
            label: 'LinkedIn',
          },
          {
            href: 'https://www.linkedin.com/in/belloidris/',
            name: 'icon-about-socials-2',
            label: 'Twitter',
          },
          {
            href: '#',
            name: 'icon-about-socials-3',
            label: 'link',
          },
        ]
      },
      {
        image: 'about-leadership-7',
        name: 'Michael Olusegun Olukoya',
        position: 'Advisor',
        story: 'Olusegun heads the Financial Services and Payments division of NEXTZON Business Services<span class="leadership__dots">...</span><span class="leadership__more">, a leading management consulting and venture development firm in&nbsp;Nigeria. He&nbsp;is&nbsp;an&nbsp;experienced professional in&nbsp;strategy formulation, project execution, financial services, corporate governance, and eBusiness with a&nbsp;Bachelor&rsquo;s Science degree in&nbsp;Economics from the University of&nbsp;Lagos.</span>',
        socials: [
          {
            href: 'https://www.linkedin.com/company/rxall-inc./',
            name: 'icon-about-socials-1',
            label: 'LinkedIn',
          },
          {
            href: 'https://twitter.com/RxAll_Inc',
            name: 'icon-about-socials-2',
            label: 'Twitter',
          },
          {
            href: '#',
            name: 'icon-about-socials-3',
            label: 'link',
          },
        ]
      },
      {
        image: 'about-leadership-8',
        name: 'Dr. Akintoye Akindele',
        position: 'Advisor',
        story: 'Dr. Akindele is&nbsp;Chairman/CEO of&nbsp;Platform Capital Group, an&nbsp;investment firm focused<span class="leadership__dots">...</span><span class="leadership__more"> on&nbsp;business growth and expansion in&nbsp;South Africa. He&nbsp;is&nbsp;also Chairman/CEO of&nbsp;Atlantic &amp;&nbsp;Duport Midstream and a&nbsp;frequent speaker at&nbsp;conferences. Dr. Akindele is&nbsp;a&nbsp;CFA Charterholder and holds a&nbsp;PhD in&nbsp;Business Administration (Finance) from the International School of&nbsp;Management in&nbsp;Paris.</span>',
        socials: [
          {
            href: 'https://www.linkedin.com/company/rxall-inc./',
            name: 'icon-about-socials-1',
            label: 'LinkedIn',
          },
          {
            href: 'https://twitter.com/RxAll_Inc',
            name: 'icon-about-socials-2',
            label: 'Twitter',
          },
          {
            href: '#',
            name: 'icon-about-socials-3',
            label: 'link',
          },
        ]
      },
    ]

  section.leadership
    .container
      .leadership__wrap
        h2.leadership__title Expert leadership
        p.leadership__text Dedicated to making an impact, the highly experienced, and innovative minds of RxAll come together to protect people from counterfeit drugs.
        ul.leadership__list
          each item in leadership
            li.leadership__item
              .leadership__img
                +picture('content', item.image, 'png', 188, 188, item.name)
              .leadership__desc
                p.leadership__name= item.name
                span.leadership__position= item.position
                p.leadership__story!= item.story
                .leadership__block
                  .leadership__socials
                    each icon in item.socials
                      +btn({
                        href: icon.href,
                        target: 'isExternal',
                        rel: 'isExternal',
                        icon: icon.name,
                        width: 20,
                        height: 21,
                      })(class= 'leadership__socials-link', aria-label= icon.label)
                  button(type= 'button', data-btn-text='Show less', data-btn-more='Show more', data-read-more).btn.leadership__read-more
                    span Show more
                    +icon('icon-read-more', 8, 16)
        .leadership__pattern
