.card-element {
  background-color: $color-default-white;
}

.card-element--blue {
  background-color: $color-alice-blue;
}

.card-element--yellow {
  background-color: $color-promenade;
}

.card-element--green {
  background-color: $color-panache;
}

.card-element--dark {
  background-color: $color-midnight;
}

