mixin technology(data)
  section.technology
    .container
      .technology__inner
        .technology__image.technology__image--blue
        .technology__image.technology__image--grey
        .technology__info
          p.technology__header Trust technology, not chance
          p.technology__text RxScanner technology is&nbsp;based on&nbsp;more than 8&nbsp;years of&nbsp;research at&nbsp;Yale in&nbsp;the USA and enables high accuracy, sensitivity, and specificity as&nbsp;per national standards.
          p.technology__text RxScanner can identify drugs through packaging&nbsp;&mdash; there is&nbsp;no&nbsp;need to&nbsp;touch, prepare or&nbsp;destroy the sample, so&nbsp;there is&nbsp;no&nbsp;risk of&nbsp;exposure.
          p.technology__text The results of&nbsp;drug sample scans are recorded and stored on&nbsp;the blockchain, so&nbsp;anyone with the mobile app can track the supply chain quality.
          p.technology__text RxScanner can be&nbsp;trained to&nbsp;build custom chemometric models and test drug samples against your database&nbsp;in &lt;1&nbsp;week.
        ul.technology__list
          +small-card(technologyContent)
