-
  const advantagesCards = [
    {
      title: "Authentic",
      text: "WIth an&nbsp;instant testing device to&nbsp;check and confirm the quality of&nbsp;prescribed or&nbsp;supplied drugs.",
      link: {
        href: "rx-scanner.html",
        text: "Get RxScanner",
      },
      icons: [
        {
          name: "icon-authentic-desktop",
          width: 93,
          height: 87,
        },
        {
          name: "icon-authentic-mobile",
          width: 97,
          height: 67,
        },
      ],
    },
    {
      title: "Accessible",
      text: "With a&nbsp;safe marketplace platform where buyers meet sellers to&nbsp;get already authenticated drugs.",
      link: {
        href: "https://rxalldelivered.com/",
        text: "Shop marketplace",
      },
      icons: [
        {
          name: "icon-accessible-desktop",
          width: 73,
          height: 94,
        },
        {
          name: "icon-accessible-mobile",
          width: 120,
          height: 120,
        },
      ],
    },
    {
      title: "Affordable",
      text: "With financial solutions to hospitals, pharmacies and patients for buying authentic drugs.",
      link: {
        href: "mailto:info@rxall.net",
        text: "Make inquiry",
      },
      icons: [
        {
          name: "icon-affordable-desktop",
          width: 54,
          height: 95,
        },
        {
          name: "icon-affordable-mobile",
          width: 63,
          height: 72,
        },
      ],
    },
  ]
