-
  const cases = [
    {
      name: "government",
      title: "FDA & Government",
      text: "Сan use RxScanner to&nbsp;screen the quality of&nbsp;imported drugs at&nbsp;ports and during post&#8209;marketing surveillance",
      link: {
        text: "Get a&nbsp;product demo",
        href: "#order-now",
        icon: "icon-arrow-right",
      },
      icons: [
        {
          name: "icon-government-desktop",
          width: 93,
          height: 93,
        },
        {
          name: "icon-government-2-mobile",
          width: 93,
          height: 93,
        },
      ],
      card: {
        title: "NAFDAC",
        problem: {
          text: "The substandard and counterfeit drug industry is&nbsp;growing and rapidly adapting to&nbsp;new conditions. This makes traditional laboratory methods no&nbsp;longer effective. NAFDAC needed an&nbsp;affordable drug quality testing device that could be&nbsp;placed at&nbsp;all checkpoints across the country to&nbsp;reduce the high percentage of&nbsp;counterfeit drugs in&nbsp;circulation.",
          icons: [
            {
              name: "icon-problem-government",
              mod: "--desktop",
              width: 31,
              height: 31,
            },
          ],
        },
        solution: {
          text: "NAFDAC was looking for an&nbsp;accurate and user-friendly tool that facilitates the rapid detection of&nbsp;fake medicines to&nbsp;promote accountability and enable global monitoring. RxAll provided post-marketing surveillance inspectors across Nigeria with RxScanner for immediate on-site analysis and real-time information about drug flows.",
          icons: [
            {
              name: "icon-solution-government",
              mod: "--desktop",
              width: 27,
              height: 29,
            },
          ],
        },
        result: {
          list: [
            {
              result: "100K+",
              text: "Drugs authenticated monthly across Nigeria",
            },
            {
              result: "400+",
              text: "Drugs collected in spectral library",
            },
          ],
          icons: [
            {
              name: "icon-results-government",
              mod: "--desktop",
              width: 27,
              height: 29,
            },
          ],
        },
      },
    },
    {
      name: "wholesalers",
      title: "Wholesalers",
      text: "Can use RxScanner to&nbsp;confirm the quality of&nbsp;new batches of&nbsp;drugs received from suppliers",
      link: {
        text: "Get a&nbsp;product demo",
        href: "#order-now",
        icon: "icon-arrow-right",
      },
      icons: [
        {
          name: "icon-wholesalers-desktop",
          width: 80,
          height: 78,
        },
        {
          name: "icon-wholesalers-2-mobile",
          width: 80,
          height: 69,
        },
      ],
      card: {
        title: "Ibadan Drug Fulfillment Center (IDFC)",
        problem: {
          text: "The drug supply chain in&nbsp;Africa is&nbsp;poorly controlled. IDFC values reputation, so&nbsp;they needed to&nbsp;authenticate the quality of&nbsp;new batches of&nbsp;drugs before supplying them to&nbsp;4K+&nbsp;customers&nbsp;&mdash; other wholesalers, hospitals, and pharmacies across Nigeria.",
          icons: [
            {
              name: "icon-problem-wholesalers",
              mod: "--desktop",
              width: 26,
              height: 21,
            },
          ],
        },
        solution: {
          text: "IDFC was interested in&nbsp;a&nbsp;device to&nbsp;verify the quality of&nbsp;the drugs received and stand out from other distributors in&nbsp;the market. RxAll provided RxScanner as&nbsp;a&nbsp;reliable tech solution for quality assurance through drug distribution and IoT supply chain tracking.",
          icons: [
            {
              name: "icon-solution-wholesalers",
              mod: "--desktop",
              width: 30,
              height: 24,
            },
          ],
        },
        result: {
          icons: [
            {
              name: "icon-results-wholesalers",
              mod: "--desktop",
              width: 28,
              height: 30,
            },
          ],
          list: [
            {
              result: "500K+",
              text: "Patients accessed safe drugs",
            },
            {
              result: "50%",
              text: "Sales growth due to&nbsp;its reputation for quality",
            },
            {
              result: "150K+",
              text: "Drugs tested in&nbsp;3&nbsp;years",
            },
          ],
        },
      },
    },
    {
      name: "hospitals",
      title: "Hospitals",
      text: "Can use RxScanner to&nbsp;identify the quality of&nbsp;suspect brand counterfeits prescribe authentic drugs",
      link: {
        text: "Get a&nbsp;product demo",
        href: "#order-now",
        icon: "icon-arrow-right",
      },
      icons: [
        {
          name: "icon-hospitals-2-desktop",
          width: 81,
          height: 85,
        },
        {
          name: "icon-hospitals-2-mobile",
          width: 88,
          height: 81,
        },
      ],
      card: {
        title: "E-Health Africa Clinics (EHA)",
        problem: {
          text: "There are thousands of&nbsp;preventable deaths in&nbsp;Africa each year due to&nbsp;anti-malarial drugs that do&nbsp;not work. EHA values patient safety, so&nbsp;they needed a&nbsp;drug testing device that would give instant results right at&nbsp;the market or&nbsp;any other location.",
          icons: [
            {
              name: "icon-problem-hospitals",
              mod: "--desktop",
              width: 30,
              height: 30,
            },
          ],
        },
        solution: {
          text: "EHA needed an&nbsp;analytical authentication device, and RxAll provided the RxScanner as&nbsp;a&nbsp;solution. Unlike time-consuming and expensive laboratory analysis, the handheld scanner provides instant results anywhere, anytime, and by&nbsp;anyone.",
          icons: [
            {
              name: "icon-solution-hospitals",
              mod: "--desktop",
              width: 31,
              height: 22,
            },
          ],
        },
        result: {
          icons: [
            {
              name: "icon-results-hospitals",
              mod: "--desktop",
              width: 30,
              height: 28,
            },
          ],
          list: [
            {
              result: "3&nbsp;days",
              text: "To&nbsp;start using the RxScanner after applying",
            },
            {
              result: "100K+",
              text: "Protected patients in&nbsp;Northern Nigeria",
            },
            {
              result: "30K+",
              text: "Antimalarials tested in&nbsp;1&nbsp;year",
            },
          ],
        },
      },
    },
    {
      name: "pharmacies",
      title: "Pharmacies",
      text: "Can use RxScanner to&nbsp;ensure the authenticity and safety of&nbsp;drugs at&nbsp;the procurement stage",
      link: {
        text: "Get a&nbsp;product demo",
        href: "#order-now",
        icon: "icon-arrow-right",
      },
      icons: [
        {
          name: "icon-pharmacies-2-desktop",
          width: 77,
          height: 90,
        },
        {
          name: "icon-pharmacies-2-mobile",
          width: 90,
          height: 78,
        },
      ],
      card: {
        title: "RxGO Pharmacy Network",
        problem: {
          text: "A&nbsp;pharmacy&rsquo;s reputation as&nbsp;well as&nbsp;its customer&rsquo;s life can be&nbsp;ruined by&nbsp;a&nbsp;single case of&nbsp;counterfeit medicine. RxGO values patient safety, so&nbsp;they needed to&nbsp;check the quality of&nbsp;all new drugs received before putting them on&nbsp;the shelves for final customer consumption.",
          icons: [
            {
              name: "icon-problem-pharmacies",
              mod: "--desktop",
              width: 34,
              height: 34,
            },
          ],
        },
        solution: {
          text: "RxGO needed an&nbsp;analytical authentication device to&nbsp;stand out from other surrounding pharmacies. RxAll provided the RxScanner as&nbsp;a&nbsp;solution to&nbsp;provide quality customer service and, as&nbsp;a&nbsp;result, increase foot traffic and revenue.",
          icons: [
            {
              name: "icon-solution-pharmacies",
              mod: "--desktop",
              width: 28,
              height: 28,
            },
          ],
        },
        result: {
          icons: [
            {
              name: "icon-results-pharmacies",
              mod: "--desktop",
              width: 33,
              height: 21,
            },
          ],
          list: [
            {
              result: "50K+",
              text: "Drugs tested in&nbsp;1&nbsp;year",
            },
            {
              result: "72K+",
              text: "Patients accessed safe drugs",
            },
            {
              result: "53%",
              text: "Sales growth due to&nbsp;its reputation for quality",
            },
          ],
        },
      },
    },
  ]

-
  const caseItems = [
    {
      name: "rx-all-ecosystem",
      title: "RxAll Ecosystem",
      text: "We&rsquo;re building a&nbsp;digital infrastructure for healthcare companies&nbsp;&mdash; all in&nbsp;one platform.",
      list: [
        {
          title: "RxPay",
          text: "Enables pharmacies and wholesalers to&nbsp;get funding to&nbsp;prevent stock-outs and keep drugs affordable without driving prices&nbsp;up",
          link: {
            text: "Make inquiry",
            href: "mailto:info@rxall.net",
            icon: "icon-arrow-right",
          },
          modalForm: "rxpay",
        },
        {
          title: "RxDelivered",
          text: "Connects buyers with proven sellers, offering already RxScanner verified medicines at&nbsp;affordable prices",
          link: {
            text: "Shop marketplace",
            href: "https://rxalldelivered.com/",
            icon: "icon-arrow-right",
          },
        },
        {
          title: "RxPOS",
          text: "Provides sales &amp;&nbsp;purchases software for complete automation and simple transactions",
          link: {
            text: "Make inquiry",
            href: "mailto:info@rxall.net",
            icon: "icon-arrow-right",
          },
          modalForm: "rxpos",
        },
      ],
    },
  ]
