-
  const contactContent = {
    content: [
      {
        class: "contact-element--yellow",
      },
      {
        class: "contact-element--green",
      },
      {
        class: "contact-element--blue",
      },
      {
        class: "contact-element--light-yellow",
      },
       {
        class: "contact-element--green",
      },
    ],
    cardsContent: [
     {
      id: "1",
      cardData: [
        {
          header:  "RxALL",
          text: "RxAll is&nbsp;a&nbsp;digital infrastructure for hospitals and pharmacies, including a&nbsp;drug testing platform, pharmacy management software, and an&nbsp;invoice financing platform.",
          managment: "Management team:",
          managmentSpan: " info@rxall.net",
          questions: "Questions:",
          questionsSpan: " info@rxall.net",
          delay: 400,
        },
      ]
    },
     {
      id: "2",
      cardData: [
        {
          header:  "RxDelivered",
          text: "RxDelivered connects buyers with proven sellers, offering already authentic medicines at&nbsp;affordable prices. All products on&nbsp;the marketplace are RxScanner verified.",
          managment: "Management team:",
          managmentSpan: " info@rxall.net",
          questions: "Questions:",
          questionsSpan: " rasheed.olatunji@rxall.net",
          delay: 400,
        },
         {
          header:  "RxScanner",
          text: "The RxScanner uses&nbsp;AI and machine learning to&nbsp;check and confirm the quality of&nbsp;drug samples and helps FDAs, hospitals, and pharmacies to&nbsp;provide patients with high-quality medicines.",
          managment: "Management team:",
          managmentSpan: " info@rxall.net",
          questions: "Questions:",
          questionsSpan: " pius.alabi@rxall.net",
          delay: 500,
        },
      ]
    },
     {
      id: "3",
      cardData: [
        {
          header:  "RxPay",
          text: "RxPay enables pharmacies and wholesalers to&nbsp;get funding on&nbsp;soft terms for required purchases, preventing stock-outs and keeping drugs accessible without driving prices&nbsp;up.",
          managment: "Management team:",
          managmentSpan: " info@rxall.net",
          questions: "Questions:",
          questionsSpan: " pius.alabi@rxall.net",
          delay: 400,
        },
         {
          header:  "RxPOS",
          text: "RxPOS is&nbsp;software for automating sales &amp;&nbsp;purchases processes, quick payments, simple invoicing, better inventory &amp;&nbsp;reordering management, and improving customer loyalty.",
          managment: "Management team:",
          managmentSpan: " info@rxall.net",
          questions: "Questions:",
          questionsSpan: " rasheed.olatunji@rxall.net",
          delay: 500,
        },
      ]
    },
    {
      id: "4",
      cardData: [
          {
          header:  "RxAcademy",
          text: "RxAcademy is&nbsp;an&nbsp;on-demand platform training pharmacists to&nbsp;open and run their pharmacy business with up&nbsp;to&nbsp;$10K in&nbsp;inventory &amp;&nbsp;asset financing per person.",
          managment: "Management team:",
          managmentSpan: " rasheed.olatunji@rxall.net",
          questions: "Questions:",
          questionsSpan: " rasheed.olatunji@rxall.net",
          delay: 400,
        },
         {
          header:  "RxHMO",
          text: "RxHMO provides insured customers with access to&nbsp;authentic drugs from accredited pharmacies nationwide on&nbsp;RxDelivered and credits HMOs so&nbsp;their customers can get their prescriptions faster without waiting.",
          managment: "Management team:",
          managmentSpan: " info@rxall.net",
          questions: "Questions:",
          questionsSpan: " pius.alabi@rxall.net",
          delay: 500,
        },
      ]
    },
     {
      id: "5",
      cardData: [
         {
          header:  "RxGo",
          text: "RxGo is&nbsp;a&nbsp;curated pharmacy network, offering already authenticated quality drugs and consumer products available for in-person and online ordering with delivery.",
          managment: "Management team:",
          managmentSpan: " info@rxall.net",
          questions: "Questions:",
          questionsSpan: " rasheed.olatunji@rxall.net",
          delay: 400,
        },
      ]
    },
    ]
  }
