-
 const drugsContent = {
   drugsFakeContent: [
    {
      header:  "1 in 10",
      text: "Drugs sold in&nbsp;the world is&nbsp;fake or&nbsp;substandard",
    },
    {
      header:  "About 50%",
      text: "Of&nbsp;all fake drugs in&nbsp;the last 10&nbsp;years were found in&nbsp;Africa (WHO)",
    },
    {
      header:  "Annually 1,000,000",
      text: "People die from taking fake drugs, causing $21bln global financial impacts (WHO)",
    },
  ],
    drugsScannerContent: [
      {
        text:  "Used in&nbsp;15&nbsp;countries across the world",
        class: "scanner-card__image--red",
      },
      {
        text:  "Protected the lives of&nbsp;more than 500,000 people",
        class: "scanner-card__image--grey",
      },
      {
        text:  "300+ drugs types tested with 99.9% accuracy",
        class: "scanner-card__image--blue",
      },
      {
        text:  "100,000+ tests done in&nbsp;Africa &amp;&nbsp;Southeast Asia",
        class: "scanner-card__image--black",
      },
    ]
 }
