-
  const footerLinks = [
    {
      listName: "Company",
      items: [
        {
          name: "RxScanner",
          href: "rx-scanner.html",
        },
        {
          name: "Community portal",
          href: "https://www.facebook.com/RxAll.Inc/",
        },
        {
          name: "About&nbsp;RxAll",
          href: "about.html",
        },
        {
          name: "Contact&nbsp;Us",
          href: "contact-us.html",
        },
      ],
    },
    {
      listName: "Services",
      items: [
        {
          name: "For&nbsp;Buyers",
          href: "#for-buyers",
        },
        {
          name: "Pharmacies",
          href: "#pharmacies",
        },
        {
          name: "Government",
          href: "#government",
        },
        {
          name: "Lenders",
          href: "#lenders",
        },
        {
          name: "For&nbsp;Wholesalers",
          href: "#for-wholesalers",
        },
        {
          name: "Hospitals",
          href: "#hospitals",
        },
        {
          name: "Insurance",
          href: "#insurance",
        },
      ],
    },
  ]
