-
    const media = {
      id: 'media',
      title: 'Writing about us',
      list: [
        {
        href: "https://www.bbc.com/news/av/stories-59995066",
        image: "bbc",
        width: 161,
        height: 103,
        slideTitle: 'The&quot;RxScanner&quot; inventor inspired by&nbsp;a&nbsp;near death experience&nbsp;&mdash; BBC',
        text: 'Adebayo Alonge started the RxAll company and produced the RxScanner to&nbsp;get quality medicines to&nbsp;every patient across the world...',
        },
        {
          href: "https://www.chemistryworld.com/news/fighting-fake-medicines/3010498.article",
          image: "chemistry-world",
          width: 325,
          height: 28,
          slideTitle: 'Fighting fake medicines',
          text: 'One in&nbsp;10&nbsp;medicines sold in&nbsp;developing countries is&nbsp;counterfeit, leading to&nbsp;tens of&nbsp;thousands of&nbsp;deaths, as&nbsp;well as&nbsp;antimicrobial resistance...',
        },
        {
          href: "https://www.theguardian.com/global-development/2019/jun/05/fake-medicine-makers-blockchain-artificial-intelligence",
          image: "the-guardian",
          width: 305,
          height: 152,
          slideTitle: 'Fight the fakes: how to&nbsp;beat the $200bn medicine counterfeiters',
          text: 'Armed with blockchain and&nbsp;AI, health workers and campaigners are battling the bogus business that kills thousands',
        },
        {
        href: "https://www.bbc.com/news/av/stories-59995066",
        image: "bbc",
        width: 161,
        height: 103,
        slideTitle: 'The&quot;RxScanner&quot; inventor inspired by&nbsp;a&nbsp;near death experience&nbsp;&mdash; BBC',
        text: 'Adebayo Alonge started the RxAll company and produced the RxScanner to&nbsp;get quality medicines to&nbsp;every patient across the world...',
        },
        {
          href: "https://www.chemistryworld.com/news/fighting-fake-medicines/3010498.article",
          image: "chemistry-world",
          width: 325,
          height: 28,
          slideTitle: 'Fighting fake medicines',
          text: 'One in&nbsp;10&nbsp;medicines sold in&nbsp;developing countries is&nbsp;counterfeit, leading to&nbsp;tens of&nbsp;thousands of&nbsp;deaths, as&nbsp;well as&nbsp;antimicrobial resistance...',
        },
        {
          href: "https://www.theguardian.com/global-development/2019/jun/05/fake-medicine-makers-blockchain-artificial-intelligence",
          image: "the-guardian",
          width: 305,
          height: 152,
          slideTitle: 'Fight the fakes: how to&nbsp;beat the $200bn medicine counterfeiters',
          text: 'Armed with blockchain and&nbsp;AI, health workers and campaigners are battling the bogus business that kills thousands',
        },
      ]
    }
