-
    const partners = {
      id: 'partners',
      title: 'Partners',
      desc: 'We&nbsp;are supported by&nbsp;leading investors, academics and donors. Join&nbsp;us to&nbsp;get our solution into every FDA, hospital and pharmacy across the world.',
      list: [
        {
        image: "katapult",
        width: 304,
        height: 134
        },
        {
          image: "plug-and-play",
          width: 325,
          height: 93
        },
        {
          image: "sosv",
          width: 205,
          height: 89
        },
        {
          image: "launch-africa",
          width: 200,
          height: 200
        },
        {
          image: "century-oak-capital",
          width: 571,
          height: 88
        },
        {
          image: "lofty-inc",
          width: 200,
          height: 205
        },
        {
          image: "future-africa",
          width: 1247,
          height: 548
        },
      ]
    }
