-
  const reviewContent = {
    content: [
      {
        reviewText: "Fake medicine is&nbsp;an&nbsp;enemy that&rsquo;s hard to&nbsp;see and difficult to&nbsp;detect. Surviving a&nbsp;21&nbsp;day coma, I&nbsp;made a&nbsp;personal&nbsp; <span>decision&nbsp;</span><span>to&nbsp;solve</span> &nbsp;&nbsp;this problem and make sure that people across the world are&nbsp; <span>safe&nbsp;from&nbsp;</span><span>fake&nbsp;drugs.</span>",
        reviewButton: "Learn more about RxAll story",
        reviewImage: "ceo",
        reviewName: "Adebayo Alonge",
        reviewPosition: "RxAll CEO and Founder",
      },
    ],
  }
