-
  const scannerContent = {
    content: [
      {
        class: "card-element--blue",
      },
      {
        class: "card-element--yellow",
      },
      {
        class: "card-element--green",
      },
      {
        class: "card-element--dark",
      },
    ],
    cardsContent: [
     {
      id: "1",
      cardData: [
        {
          upperRemark:  "Authentic",
          headerText: "Get RxScanner",
          titleText: "",
          contentCardText: "The RxScanner uses artificial intelligence (AI) to&nbsp;identify a&nbsp;drug sample and its quality level returning results to&nbsp;a&nbsp;mobile app in&nbsp;20&nbsp;seconds. It&nbsp;enables affordable, portable, real-time, lab-based chemical analysis anywhere, anytime, and by&nbsp;anyone.",
          buttonText: "Get RxScanner",
          cardImage: "RXscanner",
          button: true,
        },
      ]
    },
    {
      id: "2",
      cardData: [
      {
        upperRemark:  "",
        headerText: "Community Portal",
        titleText: "Supportive society",
        contentCardText: "We&nbsp;need en&nbsp;entire global network community to&nbsp;be&nbsp;aware of&nbsp;the real dangers of&nbsp;fake drugs. Join and help&nbsp;us make safe medicine accessible for everyone!",
        buttonText: "Help the world",
        cardImage: "portal",
      }
      ]
    },
    {
      id: "3",
      cardData: [
      {
        upperRemark:  "Affordable",
        headerText: "RxPay",
        titleText: "Financial solutions for B2B clients",
        contentCardText: "RxPay enables pharmacies and wholesalers to&nbsp;get funding to&nbsp;prevent stock-outs and keep drugs accessible without driving prices&nbsp;up.",
        buttonText: "Make inquiry",
        cardImage: "pay",
      }
      ]
    },
    {
      id: "4",
      cardData: [
      {
        upperRemark:  "Accessible",
        headerText: "RxDelivered",
        titleText: "Trusted marketplace for buyers and sellers",
        contentCardText: "RxDelivered connects buyers with proven sellers, offering already authentic medicines at&nbsp;affordable prices. All products on&nbsp;the marketplace are RxScanner verified.",
        buttonText: "Shop marketplace",
        cardImage: "delivery",
      }
      ]
    },
    ]
  }
