-
  const servicesList1 = {
    servicesCards: [
      {
        title: "For Wholesalers",
        icons: [
          {
            name: "icon-wholesalers-desktop",
            width: 90,
            height: 83,
          },
          {
            name: "icon-wholesalers-mobile",
            width: 80,
            height: 69,
          },
        ],
        id: "for-wholesalers",
        text: "Trust your supply chain, get new customers and become part of&nbsp;a&nbsp;pharma-players network community.",
      },
      {
        title: "Pharmacies",
        icons: [
          {
            name: "icon-pharmacies-desktop",
            width: 87,
            height: 93,
          },
          {
            name: "icon-pharmacies-mobile",
            width: 79,
            height: 57,
          },
        ],
        id: "pharmacies",
        text: "Get access to&nbsp;authentic drugs at&nbsp;wholesale prices, increase sales and&nbsp;provide patients with better medications.",
      },
      {
        title: "Hospitals",
        icons: [
          {
            name: "icon-hospitals-desktop",
            width: 100,
            height: 91,
          },
          {
            name: "icon-hospitals-mobile",
            width: 90,
            height: 82,
          },
        ],
        id: "hospitals",
        text: "Provide high-quality, non-counterfeit medicines to&nbsp;the patients that need them.",
      },
      {
        title: "RxDelivered",
        link: {
          text: "Shop marketplace",
          href: "https://rxalldelivered.com/",
          icon: "icon-arrow-right",
        },
        text: "Sell authenticated medicines as&nbsp;a&nbsp;wholesaler and get already authenticated drugs as&nbsp;a&nbsp;pharmacy or&nbsp;hospital.",
      },
      {
        title: "RxScanner",
        link: {
          text: "Get RxScanner",
          href: "rx-scanner.html",
          icon: "icon-arrow-right",
        },
        text: "Rapidly screen quality of&nbsp;new batches of&nbsp;drugs delivered by&nbsp;suppliers and identify quality of&nbsp;suspect brand counterfeits.",
      },
      {
        title: "RxPay",
        link: {
          text: "Make inquiry",
          href: "mailto:info@rxall.net",
          icon: "icon-make",
        },
        modalForm: "rxpay",
        text: "Get financial support to&nbsp;keep high-quality drugs always available for your customers.",
      },
      {
        title: "Rx-APIs",
        link: {
          text: "Make inquiry",
          href: "mailto:info@rxall.net",
          icon: "icon-make",
        },
        text: "Digitise your pharmacy through our inventory, insurance claims and invoice financing APIs",
      },
      {
        title: "RxPOS",
        link: {
          text: "Make inquiry",
          href: "mailto:info@rxall.net",
          icon: "icon-make",
        },
        modalForm: "rxpos",
        text: "Get sales &amp;&nbsp;purchases software for simple transactions and be notified when medications run out of&nbsp;stock or&nbsp;expire.",
      },
      {
        title: "RxAcademy",
        link: {
          text: "Sign up&nbsp;for the next training&nbsp;session",
          href: "mailto:rasheed.olatunji@rxall.net",
          icon: "icon-arrow-right",
        },
        text: "Learn how to&nbsp;run a&nbsp;healthcare business and access up&nbsp;to&nbsp;$20K to&nbsp;start your business.",
      },
    ],
  }

-
  const servicesList2 = [
    {
      title: "Government",
      icons: [
        {
          name: "icon-government-desktop",
          width: 103,
          height: 103,
        },
        {
          name: "icon-government-mobile",
          width: 93,
          height: 93,
        },
      ],
      link: {
          text: "Make inquiry",
          href: "mailto:info@rxall.net",
          icon: "icon-make",
        },
      modalForm: "government",
      id: "government",
      text: "Protect your citizens and confirm the quality of&nbsp;drugs at&nbsp;ports and during post-marketing surveillance.",
    },
    {
      title: "Insurance",
      icons: [
        {
          name: "icon-insurance-desktop",
          width: 90,
          height: 67,
        },
        {
          name: "icon-insurance-mobile",
          width: 80,
          height: 50,
        },
      ],
      link: {
          text: "Make inquiry",
          href: "mailto:info@rxall.net",
          icon: "icon-make",
        },
      modalForm: "insurance",
      id: "insurance",
      text: "Provide financial help to&nbsp;purchase authentic drugs and cover the costs via insurance for customers.",
    },
    {
      title: "Lenders",
      icons: [
        {
          name: "icon-lenders-desktop",
          width: 86,
          height: 79,
        },
        {
          name: "icon-lenders-mobile",
          width: 77,
          height: 49,
        },
      ],
      link: {
          text: "Make inquiry",
          href: "mailto:info@rxall.net",
          icon: "icon-make",
        },
      modalForm: "lenders",
      id: "lenders",
      text: "Provide invoice financing to&nbsp;sellers on&nbsp;RxDelivered platform to&nbsp;ensure that quality drugs are always available",
    },
  ]

-
  const servicesList3 = {
    clientCard: {
      title: "For Buyers",
      icons: [
        {
          name: "icon-for-buyers-desktop",
          width: 85,
          height: 91,
        },
        {
          name: "icon-for-buyers-mobile",
          width: 80,
          height: 60,
        },
      ],
      text: "Make sure you&rsquo;re buying authentic medicines. Awareness is&nbsp;power. And in&nbsp;this case, it&nbsp;saves lives.",
    },
    servicesCards: [
      {
        title: "RxGO",
        link: {
          text: "Find a&nbsp;pharmacy near&nbsp;you",
          href: "https://rxalldelivered.com/",
          icon: "icon-arrow-right",
        },
        text: "Find trusted sellers and pharmacies, offering authenticated drugs.",
      },
      {
        title: "RxPortal",
        link: {
          text: "Help the world",
          href: "https://www.facebook.com/RxAll.Inc/",
          icon: "icon-arrow-right",
        },
        text: "Help the world and join a&nbsp;global community to&nbsp;know and share the real dangers of&nbsp;fake drugs.",
      },
      {
        title: "RxDelivered",
        link: {
          text: "Shop marketplace",
          href: "https://rxalldelivered.com/",
          icon: "icon-arrow-right",
        },
        text: "Buy authenticated drugs from 200 licensed marketplaces for office and home delivery.",
      },
      {
        title: "RxHMO",
        link: {
          text: "Make inquiry",
          href: "mailto:info@rxall.net",
          icon: "icon-make",
        },
        modalForm: "rxhmo",
        text: "Buy prescription drugs and cover costs via health insurance for customers.",
      },
    ],
  }
