-
  const technologyContent = [
    {
      image: "img/content/sosv-logo.svg",
      imageDesktop: "img/content/sosv-logo-desktop.svg",
      imageTablet: "img/content/sosv-logo-tablet.svg",
      imageMobile: "img/content/sosv-logo-mobile.svg",
      text: "The SOSV Human Health 100",
      width: "189",
      height: "107",
      className: "small-card--sosv",
      class: "small-card__image--sosv",
    },
    {
      image: "img/content/hello-logo.svg",
      imageDesktop: "img/content/hello-logo-desktop.svg",
      imageTablet: "img/content/hello-logo-tablet.svg",
      imageMobile: "img/content/hello-logo-mobile.svg",
      text: "2019 Hello Tomorrow Global Challenge ",
      width: "116",
      height: "97",
      className: "small-card--hello",
      class: "small-card__image--hello",
    },
    {
      image: "img/content/catapult-logo.svg",
      imageDesktop: "img/content/catapult-logo-desktop.svg",
      imageTablet: "img/content/catapult-logo-tablet.svg",
      imageMobile: "img/content/catapult-logo-mobile.svg",
      text: "2018 Katapult Future Fest Start-up",
      width: "63",
      height: "99",
      className: "small-card--catapult",
      class: "small-card__image--catapult",
    },
    {
      image: "img/content/cio-logo.svg",
      imageDesktop: "img/content/cio-logo-desktop.svg",
      imageTablet: "img/content/cio-logo-tablet.svg",
      imageMobile: "img/content/cio-logo-mobile.svg",
      text: "2018 CIO Review Most Promising PharmaTech Vendor",
      width: "234",
      height: "70",
      className: "small-card--cio",
      class: "small-card__image--cio",
    },
  ]
