//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Data

include ./data/footer
include ./data/scanner-content
include ./data/review-content
include ./data/header
include ./data/advantages-content
include ./data/services-content
include ./data/drugs-content
include ./data/technology-content
include ./data/partners
include ./data/cases-content
include ./data/media
include ./data/contact-content

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-video-1
include ./modals/modal-video-2
include ./modals/modal-form-rxpay
include ./modals/modal-form-rxpos
include ./modals/modal-form-government
include ./modals/modal-form-insurance
include ./modals/modal-form-lenders
include ./modals/modal-form-rxhmo

//- Blocks

include ./blocks/intro
include ./blocks/advantages
include ./blocks/scanner-content
include ./blocks/reviews
include ./blocks/cases-content
include ./blocks/intro-scanner
include ./blocks/about-intro
include ./blocks/achievement
include ./blocks/leadership
include ./blocks/story
include ./blocks/video
include ./blocks/form
include ./blocks/needs
include ./blocks/contact-intro
include ./blocks/contact-cards
include ./blocks/content-404
include ./blocks/thank-you

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/card-content
include ./mixins/card-element
include ./mixins/review-card
include ./mixins/advantages-card
include ./mixins/services-content
include ./mixins/services-card
include ./mixins/services-list
include ./mixins/sine
include ./mixins/drugs
include ./mixins/case-item
include ./mixins/case-card
include ./mixins/technology
include ./mixins/small-card
include ./mixins/partners
include ./mixins/contact-card
include ./mixins/contact-element
